@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 262 83% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 262 83% 96%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 83% 58%;
    --radius: 10rem;
    --font-sans: var(--font-plus-jakarta-sans);
    --font-lato: (var(--font-lato));
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 262 83% 58%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 262 83% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground; /* Apply background and text color */
    font-family: var(--font-inter); /* Use the Inter font variable */
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-lato); /* Use the Lato font */
    font-weight: 400;
  }
}

html {
  scroll-behavior: smooth;
}

/* Prevent pinch zoom on mobile devices */
html,
body {
  touch-action: manipulation;
  overscroll-behavior: none;
}

/* Additional touch handling for iOS devices */
 {
  -webkit-touch-callout: none;
}

.container {
  will-change: backgroundColor;
}

.StartMain {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.StartMain div {
  width: 100%;
  height: 100%;
}

.StartMain img {
  position: absolute;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.play-video {
  height: 50px;
  width: 50px;
  align-items: center;
  display: flex;
}
.StartMain img:nth-child(1) {
  top: 10%;
  left: 20%;
  animation: floatTopRight 6s infinite ease-in-out;
}

.StartMain img:nth-child(2) {
  top: 40%;
  left: 70%;
  animation: floatBottomLeft 7s infinite ease-in-out;
}

.StartMain img:nth-child(3) {
  top: 60%;
  left: 10%;
  animation: floatBottomRight 5s infinite ease-in-out;
}

.StartMain img:nth-child(4) {
  top: 20%;
  left: 50%;
  animation: floatTopLeft 6.5s infinite ease-in-out;
}

.StartMain img:nth-child(5) {
  top: 80%;
  left: 30%;
  animation: floatDiagonal 5.5s infinite ease-in-out;
}

.StartMain img:nth-child(6) {
  top: 25%;
  left: 80%;
  animation: floatBottomLeft 7.5s infinite ease-in-out;
}

.StartMain img:nth-child(7) {
  top: 70%;
  left: 60%;
  animation: floatTopLeft 6s infinite ease-in-out;
}

.StartMain img:nth-child(8) {
  top: 35%;
  left: 40%;
  animation: floatTopRight 7s infinite ease-in-out;
}

.StartMain img:nth-child(9) {
  top: 55%;
  left: 15%;
  animation: floatBottomRight 6.5s infinite ease-in-out;
}

.StartMain img:nth-child(10) {
  top: 5%;
  left: 90%;
  animation: floatDiagonal 5.2s infinite ease-in-out;
}

.StartMain img:nth-child(11) {
  top: 85%;
  left: 5%;
  animation: floatTopLeft 7s infinite ease-in-out;
}

/* Keyframes for different directions */

@keyframes floatTopRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(150px, -150px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatBottomLeft {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-150px, 150px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatBottomRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(150px, 150px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatTopLeft {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-150px, -150px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floatDiagonal {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100px, -100px);
  }
  50% {
    transform: translate(-100px, 100px);
  }
  75% {
    transform: translate(80px, 120px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.relative.m-auto.mt-8 {
  margin: auto;
}

.ribbon {
  position: relative;
}

.ribbon span {
  width: 130px;
  height: 30px;
  background: #fff;
  position: absolute;
  top: 20px;
  right: -30px;
  text-align: center;
  line-height: 30px;
  color: #6524eb;
  font-weight: 700;
  font-size: 14px;
  transform: rotate(45deg);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  pointer-events: none;
  transition: none; /* make sure no hover transition */
}

.ribbon-top-right {
  /* Just to clarify that it’s positioned top right */
}

.signBtn {
  width: inline-block;
  padding: 10px 20px;
}

.iframe-container {
  width: 100%;
}

section.pt-28.md\:pt-32.pb-16.md\:pb-15.mb-5.md\:mb-5.overflow-hidden.bg-transparent.dark\:bg-gray-950 {
  position: relative;
  z-index: 10;
}
.rexAgent {
  width: 70px;
  height: 70px;
  border: 1px solid #6524eb;
  border-radius: 70px;
  position: absolute;
  right: 0px;
}

.rexAgent img {
  width: 100%;
}

.rexControl {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 0;
  border-radius: 20px;
  position: relative;
  width: 100%;
}

.rexControl h5 {
  width: 214px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: auto;
  position: relative;
  left: -29px;
}

.RexButton {
  background-color: #f8efe9;
  border: none;
  color: #6524eb;
  height: 48px;
  padding-right: 0px;
}

.freeSignUp {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  padding: 15px;
  justify-content: center;
  height: 80px;
  width: 320px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
}

.SigContro {
  display: grid;
  align-items: center;
  justify-content: start;
  gap: 5px;
  width: 100%;
}

.freeSignUp p {
  font-size: 12px;
  line-height: 16px;
}

.freeSignUp h5 {
  font-size: 20px;
  font-weight: 600;
}

.freeSignUp span {
  border: 1px solid #6524eb;
  background-color: #fff;
  color: #6524eb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  height: 40px;
  font-size: 25px;
  font-weight: 600;
}
.custom-div {
  transform: translateX(0.741419px) translateY(-0.741419px) scale(1.01483);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add css 29-05-25 */
.call-rex-button {
  display: inline-block;
  text-decoration: none;
  background-color: #f9f0e9;
  color: #000;
  border: 1.5px solid #f9f0e9;
  border-radius: 40px;
  padding: 7px 2px 7px 20px;
  font-family: sans-serif;
  transition: box-shadow 0.3s ease;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
}

.button-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.call-rex-button:hover {
  /* box-shadow: 0 4px 12px rgba(0, 170, 255, 0.3); */
}

.text {
  font-size: 16px;
  line-height: 1.4;
  text-align: left;
  font-family: var(--font-lato);
}

.highlight {
  /* font-weight: bold; */
  color: #000;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: contain;
}

.text-center.mb-8.w-full.md-1\/2.Leftline {
  border-left: 1px solid #e3e3e3;
  margin-left: 60px;
}
span.highlight p {
  font-size: 14px;
  font-weight: 300;
  font-family: var(--font-lato);
}
.LottiesFile {
  width:75% !important;
  max-width: 90% !important;
  align-items: center;
  display: flex;
  margin: auto;
  height: 600px;
  overflow: hidden;
  justify-content: center;
}

.play-video {
  height: 60px;
  width: 60px;
  background-color: #792ef0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.play-video::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(121, 46, 240, 0.5);
  border-radius: 50%;
  animation: pulse 1.5s ease-out infinite;
  z-index: 0;
}

.play-video > * {
  position: relative;
  z-index: 1;
}
.shipping-main {
  margin-top: 3rem;
}
.privacy-main {
  margin-top: 3rem;
}
.cancel-main {
  margin-top: 3rem;
}
.terms-main {
  margin-top: 3rem;
}
.footer-d-logo {
  display: flex;
  gap: 5px;
  align-items: center;
}
.logo_d {
  width: 100%;
  height: 1.27rem !important;
}
/* .h-10 {
  height: 1.5rem !important;
} */

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  70% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.FreeTrial p:last-child {
  font-size: 14px;
  font-family: "Inter";
}
.FreeTrial p:first-child {
  font-size: 25px;
  font-weight: 900;
  font-family: "Inter";
  white-space: nowrap;
}

@media (max-width: 1400px) {
  .LottiesFile {
    width: 75%;
    max-width: 90%;
    align-items: center;
    display: flex;
    margin: auto;
    height: 470px;
    overflow: hidden;
  }
}
@media (max-width: 1200px) {
  .LottiesFile {
    width: 90%;
    max-width: 90%;
    align-items: center;
    display: flex;
    margin: auto;
    height: 370px;
    overflow: hidden;
  }
  .BorderRadiousCustom {
    border-radius: 1rem !important;
  }
}
@media (max-width: 1080px) {
  .LottiesFile {
    width: 100%;
    max-width: 100%;
    align-items: center;
    display: flex;
    margin: auto;
    height: 350px;
    overflow: hidden;
  }
}
@media (max-width: 767px) {
  .text-center.mb-8.w-full.md-1\/2.Leftline {
    border-left: 0px solid #e3e3e3;
    margin-left: 0px;
  }
  .LottiesFile {
    width: 100%;
    max-width: 100%;
    align-items: center;
    display: flex;
    margin: auto;
    height: 240px;
    overflow: hidden;
  }
  .feature-text {
    display: none;
  }
  .ribbon span {
    transform: rotate(0deg);
    top: -10px;
  }
  .BorderRadiousCustom {
    border-radius: 1rem !important;
  }
}
@media (max-width: 500px) {
  .LottiesFile {
    width: 100%;
    max-width: 100%;
    align-items: center;
    display: flex;
    margin: auto;
    height: 200px;
    overflow: hidden;
  }
  .DBlock {
    display: block !important;
  }
  .heroText p {
    font-size: 2rem !important;
  }
}
@media (max-width: 390px) {
  .LottiesFile {
    width: 100%;
    max-width: 100%;
    align-items: center;
    display: flex;
    margin: auto;
    height: 140px;
    overflow: hidden;
  }
}

@media (max-width: 640px) {
  .rexControl h5 {
    position: unset;
  }
}
